body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}

.container {
  width: 1226px;
  margin: 0 auto;
}

.nav {
  .nav-item {
    .nav-link {
      display: block;
      &:hover {
        color: map-get($colors, primary);
      }
    }
  }
}

.topbar-user {
  .nav {
    &.nav-user {
      width: 110px;
      padding: 7px 0;
      .nav-item {
        .nav-link {
          padding: 3px 30px;
          line-height: 2;
          color: map-get($colors, dark-4);
          &:hover {
            color: map-get($colors, primary);
          }
        }
      }
    }
  }

  .dropdown {
    &.user {
      position: relative;
      width: 110px;
      text-align: center;
      &:hover {
        background-color: map-get($colors, white);
        .dropdown-toggle {
          color: map-get($colors, primary);
        }
        .dropdown-menu {
          height: 170px;
        }
      }

      .dropdown-menu {
        background-color: map-get($colors, white);
      }
    }
  }
}

.list {
  .list-item {
    float: left;
    .list-link {
      display: block;
    }
  }
  &.list-sub {
  }
}

.dropdown {
  // position: relative;
  .dropdown-toggle {
    display: block;
  }
  .dropdown-menu {
    position: absolute;
    z-index: 999;
    // display: none;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
  }
  &:hover {
    .dropdown-menu {
      // display: block;
      // height: 0px;
    }
  }
}

.icon {
  display: inline-block;
  &.icon-logo {
    @include bgImg(49px, 48px, "./../../../public/imgs/logo-mi.png");
  }

  &.icon-cart {
    @include bgImg(20px, 20px, "./../../../public/imgs/icon-cart-checked.png");
    position: relative;
    top: 4px;
    margin-right: 4px;
  }

  &.icon-search {
    @include bgImg(50px, 50px, "./../../../public/imgs/icon-search.png", 20px);
    padding: 1px 6px;
    line-height: 30px;
    position: relative;
    top: 21px;
    left: 0px;
    cursor: pointer;
    border: 1px solid map-get($colors, gray-3);
    border-left: none;
  }

  &.icon-nav-arrow {
    @include bgImg(10px, 10px, "./../../../public/imgs/icon-arrow.png");
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.icon-check {
    @include bgImg(20px, 20px, "./../../../public/imgs/icon-gou.png");
    border: 1px solid map-get($colors, gray-1);
    background-color: map-get($colors, white);
    vertical-align: middle;
    cursor: pointer;
    &.checked {
      background-color: map-get($colors, primary);
    }
  }

  &.icon-plus {
    width: 40px;
    height: 30px;
    font-size: 20px;
    background-color: map-get($colors, gray-1);
    cursor: pointer;
  }

  &.icon-subtract {
    width: 40px;
    height: 30px;
    font-size: 20px;
    background-color: map-get($colors, gray-1);
    cursor: pointer;
  }

  &.icon-delete {
    @include bgImg(24px, 24px, "./../../../public/imgs/icon-close.png", 12px);
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: map-get($colors, white);
      background-color: map-get($colors, primary);
    }
  }
}

.btn {
  display: inline-block;
  background-color: map-get($colors, primary);
  cursor: pointer;
  &.btn-primary {
    color: map-get($colors, white);
    width: 160px;
    height: 40px;
    line-height: 40px;
    border: 1px solid map-get($colors, gray-3);
    text-align: center;
    margin-left: 30px;
  }
  &.btn-register {
    width: 100%;
    margin-top: 15px;
    border: 1px solid rgba(186, 186, 186, 0.3);
    border-radius: 0;
    color: map-get($colors, white);
  }

  &.btn-login {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    margin-top: 10px;
  }
}

.logo {
  display: inline-block;
  margin-right: 0;
  background-color: map-get($colors, primary);
  overflow: hidden;
  a {
    display: inline-block;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      background-size: center;
      transform: translateZ(0);
      transition: all 0.2s;
    }
    &:before {
      background: url("./../../../public/imgs/mi-logo.png") no-repeat center;
    }
    &:after {
      background: url("./../../../public/imgs/mi-home.png") no-repeat center;
    }
    &:hover:before,
    &:hover:after {
      transform: translateX(-55px);
      transition: all 0.2s;
    }
  }

  &.logo-site {
    width: 55px;
    height: 55px;
    margin-top: 22px;
    a {
      width: 110px;
      height: 55px;
      &:before,
      &:after {
        width: 55px;
        height: 55px;
      }
      &:hover:before,
      &:hover:after {
        transform: translateX(-55px);
      }
    }
  }
  &.logo-site-mini {
    width: 48px;
    height: 48px;
    margin: 26px 45px 0 0;
    a {
      width: 96px;
      height: 48px;
      &:before,
      &:after {
        width: 48px;
        height: 48px;
      }
      &:hover:before,
      &:hover:after {
        transform: translateX(-48px);
      }
    }
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  &.show {
    display: block;
  }
  .mask {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
  }
}

.sprite {
}

.sticky {
  position: sticky;
  top: 0;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.md {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.md-col {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bfc {
  overflow: hidden;
}

.m {
  display: table-cell;
  vertical-align: middle;
}
