// separation line
@mixin sep(
  $w: 100%,
  $h: 1px,
  $bg-color: #999,
  $top: auto,
  $right: 0,
  $bottom: 0,
  $left: auto,
  $transform: rotate(0deg)
) {
  position: relative;
  &::after {
    content: "";
    width: $w;
    height: $h;
    background-color: $bg-color;
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: $transform;
  }
}

@mixin bgImg($w: 10px, $h: 10px, $url: "", $size: contain) {
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}

// pseudo-element
@mixin sde($w: 10px, $h: 10px, $url: "", $size: contain) {
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
  background: ($url);
  background-size: $size;
}
